---
hide:
  - path
---

<!-- This file is auto-generated. if you do not want it to be overwritten, set TRUE in the line below -->
<!-- DO_NOT_OVERWRITE_DOC=FALSE -->

## View_QA_Records

<div id="jstree-container"></div>

## Permission Set attributes

|<!-- -->|<!-- -->|
|:---|:---|
|Label|View My QA Records|
|Description|Allows employees that have been QA'd to view ONLY qa records where they've been reviewed.  NOT FOR PEOPLE CREATING QA's|
|Has Activation Required|⬜|






<!-- PermissionSet description -->


_Documentation generated with [sfdx-hardis](https://sfdx-hardis.cloudity.com), by [Cloudity](https://www.cloudity.com/) & [friends](https://github.com/hardisgroupcom/sfdx-hardis/graphs/contributors)_
