:host {
    display: block;
  }
 
  .Agent {
    font-family: 'Neurial Grotesque', sans-serif;
    color: #1C1F1F;
    background-color: #FEF8F1;
    border-radius: 10px 10px 10px 0;
    float: left;
    padding: 0.5em;
  }

  .Chatbot {
    font-family: 'Neurial Grotesque', sans-serif;
    color: #1C1F1F;
    background-color: #FEF8F1;
    border-radius: 10px 10px 10px 0;
    float: left;
    padding: 0.5em;
  }
 
  .EndUser {
    font-family: 'Neurial Grotesque', sans-serif;
    background-color: #E8E9E9;
    color: #1C1F1F;
    margin-left: auto;
    padding: 0.5em;
    border-radius: 10px 10px 0 10px;
  }
 
  lightning-formatted-text {
    font-size: 0.875em;
  }