@font-face {
    font-family: 'Neurial Grotesque';
    src: url("/resource/ChatFont/ChatFont.woff2") format('woff2');
}

:host {
    font-family: 'Neurial Grotesque', sans-serif;
    width: 100%;
    max-width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    padding: 0 14px;
    height: 50px;
    max-height: 50px;
    background-color: #1e1f20;
}

img {
    margin-right: 4px;
    max-height: 49px;
    max-width: 49px;
}

h3 {
    font-family: 'Neurial Grotesque', sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 19.2px;
    margin: 0;
    text-align: initial;
    align-self: center;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(255, 255, 255);
}

.headerButton {
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    border: none;
    display: inline-flex;
    height: 32px;
    min-height: 32px;
    width: 32px;
    min-width: 32px;
    align-items: center;
    justify-content: center;
}

.headerButton:hover:before {
    content: " ";
    position: absolute;
    top: 9px;
    width: 32px;
    height: 32px;
    background-color: rgb(255, 255, 255);
    opacity: .2;
    border-radius: 4px;
    box-sizing: border-box;
    pointer-events: none;
}

.headerButton.menuButton:hover:before {
    top: 0;
}

.headerButton.closeButton:hover:before {
    right: 14px;
}

lightning-icon {
    fill: rgb(255, 255, 255);
}

.optionsMenu {
    width: 100vw;
    left: -0.9rem;

}

.optionsMenu > .slds-dropdown__list {
    max-height: 20rem;
    overflow-y: auto;
}

.slds-nubbin_top-left:before,
.slds-nubbin_top-left:after {
    left: 2rem;
    top: -0.5rem;
}

.slds-dropdown {
    max-width: 30rem;
}

.slds-dropdown__item > button {
    position: relative;
    z-index: 100;
    padding: 0.75rem 1rem;
    background-color: rgb(255, 255, 255);
    border: 0;
    display: flex;
    width: 100%;
}

.slds-dropdown__item > button:focus,
.slds-dropdown__item > button:hover {
    outline: 0;
    text-decoration: none;
    background-color: rgb(192, 192, 192);
}

.slds-dropdown__list > .slds-dropdown__item:not(:first-child) {
    border-top: rgb(192, 192, 192) 1px solid;
}

.slds-dropdown__item .slds-truncate:not(.closeConversation) {
    color: #005290;
}

.my-icon {
    --slds-c-icon-color-foreground-default: rgb(255, 255, 255);
    --slds-c-icon-color-background: #1e1f20;
}